.test{
    height: 10%;
    width: 22%;
    margin: 2% 2%;
    padding: 1% 0;
}

.test img{
    width: 30%;
    display: block;
    margin: auto;
}

.test button {
    background-color: #55acee;
}

.cardb {
    margin: 0;

}

